/*
  * Gradient created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ef95ba&c2=e7e7de&gt=r&gd=dcc
  */
.App-header {
  background: #EF95BA;
  background: radial-gradient(at center, #EF95BA, #E7E7DE);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}